%h2.form-container__title カード情報入力
= f.fields_for :card, Card.new do |ff|
  .form_box
    .field
      = ff.label 'カード情報'
      %span 必須
      %br/
      = ff.text_field :number, placeholder: '半角英数字のみ', class: "field__form"
    .field
      = ff.label '有効期限'
      %span 必須
      %br/
      = ff.select :valid_month, (1..12).to_a
      　月
      %br/
      = ff.select :valid_year, (2019..2025).to_a
      　年
    .field
      = ff.label 'セキュリティコード'
      %span 必須
      %br/
      = ff.text_field :security_number, placeholder: 'カード背面4桁もしくは3桁', class: "field__form"
    .field
      = f.submit "登録する", class: 'field__btn'
