<div id="degistration-index-container">
 <div class="contents">
   <div class="header">
    <%= image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?570108281", class: "image", size: "185x49")%>
   </div>

   <div class="sign_up">
    <p>新規会員登録</p>
   </div>

   <div class="main">
    <div class="account-button main__ele">
     <div class="mail">
       <%= link_to "メールアドレスで登録", user_facebook_omniauth_authorize_path, class: "account-button__mail" %>
       <i class="far fa-envelope fa-lg"></i>
     </div>
     <div class="facebook">
       <%= link_to "facebookでログイン", user_facebook_omniauth_authorize_path, class: "account-button__facebook" %>
       <i class="fab fa-facebook fa-2x"></i>
      </div>
      <div class="google">
       <%= link_to "Googleでログイン", user_google_oauth2_omniauth_authorize_path, class: "account-button__google" %>
       <i class="fab fa-google"></i>
      </div>
    </div>
   </div>

   
   <div class="footer">
     <div class="nav">
       <ul>
         <li><%= link_to "プライバシーポリシー", root_path %></li>
         <li><%= link_to "メルカリ利用規約", root_path %></li>
         <li><%= link_to "特定商取引に関する表記", root_path %></li>
       </ul>
     </div>
     <div class="logo">
       <%= image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?570108281", size: "80x65") %>
       <p>
         <small>© 2019 Mercari</small>
       </p>
     </div>
    </div>
  </div>
</div>
