-if session["devise.facebook_data"].nil?
  %header.registration_header
    = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1073571291', width: "185", height: "49"
    %nav.progress_container
      %ol.progressbar
        %li#li_1.active.now
          会員情報
          #status_1.progress-status.active
        %li#li_2
          電話番号認証
          #status_2.progress-status
        %li#li_3
          お届け先住所入力
          #status_3.progress-status
        %li#li_4
          支払い方法
          #status_4.progress-status
        %li#li_5
          完了
          #status_5.progress-status
  %section.form-container
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      #user_box
        %h2.form-container__title 会員情報入力
        .form_box
          .field
            = f.label 'ニックネーム'
            %span 必須
            %br/
            = f.text_field :nickname, placeholder: '例）メルカリ太郎', class: "field__form"
          .field
            = f.label 'メールアドレス'
            %span 必須
            %br/
            = f.email_field :email, placeholder: 'PC・携帯どちらでも可', class: "field__form"
          .field
            = f.label 'パスワード'
            %span 必須
            %br/
            = f.password_field :password, placeholder: '６文字以上', class: "field__form"
          .field
            = f.label 'パスワード（確認）'
            %span 必須
            %br/
            = f.password_field :password_confirmation, placeholder: '６文字以上', class: "field__form"
          .field
            %h3 本人確認
            %p 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          .field
            = f.label '姓（全角）'
            %span 必須
            %br/
            = f.text_field :family_name, placeholder: '例）山田', class: "field__form"
          .field
            = f.label '名（全角）'
            %span 必須
            %br/
            = f.text_field :first_name, placeholder: '例）彩', class: "field__form"
          .field
            = f.label '姓カナ（全角）'
            %span 必須
            %br/
            = f.text_field :family_name_katakana, placeholder: '例）ヤマダ', class: "field__form"
          .field
            = f.label '姓カナ（全角）'
            %span 必須
            %br/
            = f.text_field :first_name_katakana, placeholder: '例）アヤ', class: "field__form"
          .field
            = f.label '生年月日'
            %span 必須
            %br/
            = f.select :birthday_year, (1900..2019).to_a
            　年
            %br/
            = f.select :birthday_month, (1..12).to_a
            　月
            %br/
            = f.select :birthday_date, (1..31).to_a
            　日
            %p.note ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
          .field
            %p.agreement
              「次へ進む」のボタンを押すことにより、#{link_to '利用規約', '#'}に同意したものとみなします
          .field
            = button_tag '次へ進む', class: 'field__btn', id: 'user_btn', type: 'button'
      #certification
        = render 'certification'
      #address
        = render 'address', { f: f }
      #card
        = render 'card', { f: f }
-else
  .facebook
    = render 'facebook'
= render 'registration_footer'
