.users_edit_container
  = render 'shared/header'
  .users_edit_body
    = render 'users/user-side'
    .users_edit_main_content
      = form_for(@user) do |f|
        .users_edit_header
          .users_edit_header__text
            プロフィール
        .users_edit_up_content
          .users_edit_up_content__flash
            = flash[:alert]
          .users_edit_up_content__profile
            .users_edit_up_content__profile__figure
            = f.text_field :nickname, class: "users_edit_up_content__profile__form", value: @user.nickname
        .users_form_content
          = f.text_area :profile, class: "users_form_content__form", value: @user.profile
          = f.submit "変更する", class: "users_form_content__button"
  = render '/products/global_footer'