.mypage_container
  = render 'shared/header'
  .mypage-body
    = render 'users/user-side'
    .mypage_main__content
      .mypage_user-information
        .mypage_user-information__figure
          = image_tag 'https://smallbusiness.co.jp/wp-content/uploads/2018/04/img_5ac32787dcbf5.png', size: "60" , class: "mypage_user-information__figure--icon"
          .mypage_user-information__name 
            = @user.nickname
          .mypage_user-information__number
            .mypage_user-information__number--review
              評価
              %span.bold
                10
            .mypage_user-information__number--exhibit
              出品数
              %span.bold
                = @products_count
      .mypage_user-information__tab
        .mypage_tabs
          %input#notice{checked: "checked", name: "mypage_tab_user", type: "radio"}/
          %label.mypage_tab_user{for: "notice"}
            お知らせ
          %input#todo{name: "mypage_tab_user", type: "radio"}/
          %label.mypage_tab_user{for: "todo"}
            やることリスト
      .mypage_tabcontent
        = image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTS81EFvQHNN-FIboK064EINN5jYaWFQtxWmmOtcQBkM74WPV90', size: "90" , class: "mypage_tabcontent__figure"
        .mypage_tabcontent__name
          現在、やることリストがありません
      %section.mypage_trade-information
        %h2.mypage_trade-information__tab
          購入した商品
        .mypage_tabs
          %input#trade-now{checked: "checked", name: "mypage_tab_item", type: "radio"}/
          %label.mypage_tab_item{for: "trade-now"}
            取引中
          %input#trade-kako{name: "mypage_tab_item", type: "radio"}/
          %label.mypage_tab_item{for: "trade-kako"}
            過去の取引
        .mypage_tabcontent
          = image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTS81EFvQHNN-FIboK064EINN5jYaWFQtxWmmOtcQBkM74WPV90', size: "90" , class: "mypage_tabcontent__figure"
          .mypage_tabcontent__name
            現在取引中の商品がありません
  = render '/products/global_footer'
