%footer.registration_footer
  .registration_footer__top
    = link_to 'プライバシーポリシー', '#', class: 'registration_footer__top__link'
    = link_to 'メルカリ利用規約', '#', class: 'registration_footer__top__link'
    = link_to '特定商取引に関する表記', '#', class: 'registration_footer__top__link'
  = link_to '#', class: 'registration_footer__logo' do
    = image_tag "logo-gray.svg", width: "80", height: "65", class: "link_logo"
  %p.registration_footer__copy_wright @2019 Mercari
