%section.container
  %h2.container__head ピックアップカテゴリー
  %section.container__items
    %h3.container__items__h3
      = link_to "#{@category1.name} 新着アイテム", '#', class: "container__items__h3__link"
    .container__items__content
      = render partial: "lady", collection: @ladys
%section.container
  %section.container__items
    %h3.container__items__h3
      = link_to "#{@category2.name} 新着アイテム", '#', class: "container__items__h3__link"
    .container__items__content
      = render partial: "men", collection: @mens
