<header class="header">
  <div class="header__inner">
    <div class="header__top">
      <h1>
        <a href="" class="header__top__image">
          <img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?4093625870" class="header_title" width="134" height="36">
        </a>
      </h1>
      <form class="header__top__form">
        <input type="search" value placeholder="何かお探しですか？" class="header__top__form__search">
        <i class="fas fa-search header__top__form__icon"></i>
      </form>
    </div>
    <div class="header__bottom">
      <div class="header__bottom__left">
        <h2 class="header__bottom__left__h2">
          <a href="" class="header__bottom__left__link">
            <i class="fas fa-list header__bottom__left__link__icon"></i>
            <span class="header__bottom__left__link__span">カテゴリーから探す</span>
          </a>
          <%= render 'lists' %>
        </h2>
        <h2 class="header__bottom__left__h2">
          <a href="" class="header__bottom__left__link">
            <i class="fas fa-tags header__bottom__left__link__icon"></i>
            <span class="header__bottom__left__link__span">ブランドから探す</span>
          </a>
        </h2>
      </div>
      <div class="header__bottom__right">
        <%= link_to 'ログアウト', destroy_user_session_path(current_user.id),{method: :delete, class: 'header__bottom__right__link'} if user_signed_in?%>
        <%= link_to 'ログイン', '#' ,class: 'header__bottom__right__link--login' unless user_signed_in? %>
        <%= link_to '新規会員登録', new_user_registration_path, class: 'header__bottom__right__link--sign_up' unless user_signed_in? %>
        <% if user_signed_in? %>
          <%= link_to '#', class: 'header__bottom__right__link' do %>
            <i class="far fa-bell header__bottom__right__icon"></i>
            <span class="header__bottom__right__link__span">お知らせ</span>
          <% end %>
          <%= link_to '#', class: 'header__bottom__right__link' do %>
              <i class="fas fa-check header__bottom__right__icon"></i>
              <span class="header__bottom__right__link__span">やることリスト</span>
          <% end %>
          <%= link_to '#', class: 'header__bottom__right__link' do %>
            <img src="" class="avatar">
            <span class="header__bottom__right__link__span">マイページ</span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</header>