<%# 繰り返している記述はDbが出来次第DB参照に変更 %>
<div class="accordion_list-1">
  <ul class="top_list">
    <li class="first_list">
      <div class="first_list_box"><a href="" class="top_links">レディース</a>
        <ul class="second_lists">
          <li class="second_list">
            <div class="second_list_box"><a href="" class="more_link">トップス</a>
              <ul class="third_lists">
                <li><%= link_to 'サンプル', '#', class: 'more_links'%></li>
                <li><%= link_to 'サンプル', '#', class: 'more_links'%></li>
                <li><%= link_to 'サンプル', '#', class: 'more_links'%></li>
              </ul>
            </div>
          </li>
          <li class="second_list">
            <div class="second_list_box"><a href="" class="more_link">ジャケット/アウター</a>
              <ul class="third_lists">
                <li><%= link_to 'サンプル', '#', class: 'more_links'%></li>
                <li><%= link_to 'サンプル', '#', class: 'more_links'%></li>
                <li><%= link_to 'サンプル', '#', class: 'more_links'%></li>
              </ul>
            </div>
          </li>
          <li class="second_list">
            <div class="second_list_box"><a href="" class="more_link">パンツ</a>
              <ul class="third_lists">
                <li><%= link_to 'サンプル', '#', class: 'more_links'%></li>
                <li><%= link_to 'サンプル', '#', class: 'more_links'%></li>
                <li><%= link_to 'サンプル', '#', class: 'more_links'%></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li class="first_list">
      <div class="first_list_box"><a href="" class="top_links">メンズ</a>
        <ul class="second_lists">
          <li class="second_list">
            <div class="second_list_box"><a href="" class="more_link">トップス</a>
              <ul class="third_lists">
                <li><%= link_to 'サンプル', '#', class: 'more_links'%></li>
                <li><%= link_to 'サンプル', '#', class: 'more_links'%></li>
                <li><%= link_to 'サンプル', '#', class: 'more_links'%></li>
              </ul>
            </div>
          </li>
          <li class="second_list">
            <div class="second_list_box"><a href="" class="more_link">ジャケット/アウター</a>
              <ul class="third_lists">
                <li><%= link_to 'サンプル', '#', class: 'more_links'%></li>
                <li><%= link_to 'サンプル', '#', class: 'more_links'%></li>
                <li><%= link_to 'サンプル', '#', class: 'more_links'%></li>
              </ul>
            </div>
          </li>
          <li class="second_list">
            <div class="second_list_box"><a href="" class="more_link">パンツ</a>
              <ul class="third_lists">
                <li><%= link_to 'サンプル', '#', class: 'more_links'%></li>
                <li><%= link_to 'サンプル', '#', class: 'more_links'%></li>
                <li><%= link_to 'サンプル', '#', class: 'more_links'%></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li class="first_list">
      <div class="first_list_box"><a href="" class="top_links">ベビー・キッズ</a>
        <ul class="second_lists">
          <li class="second_list">
            <div class="second_list_box"><a href="" class="more_link">ベビー服</a>
              <ul class="third_lists">
                <li><%= link_to 'サンプル', '#', class: 'more_links'%></li>
                <li><%= link_to 'サンプル', '#', class: 'more_links'%></li>
                <li><%= link_to 'サンプル', '#', class: 'more_links'%></li>
              </ul>
            </div>
          </li>
          <li class="second_list">
            <div class="second_list_box"><a href="" class="more_link">ベビー服</a>
              <ul class="third_lists">
                <li><%= link_to 'サンプル', '#', class: 'more_links'%></li>
                <li><%= link_to 'サンプル', '#', class: 'more_links'%></li>
                <li><%= link_to 'サンプル', '#', class: 'more_links'%></li>
              </ul>
            </div>
          </li>
          <li class="second_list">
            <div class="second_list_box"><a href="" class="more_link">ベビー服</a>
              <ul class="third_lists">
                <li><%= link_to 'サンプル', '#', class: 'more_links'%></li>
                <li><%= link_to 'サンプル', '#', class: 'more_links'%></li>
                <li><%= link_to 'サンプル', '#', class: 'more_links'%></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>