.accordion_list-1
  %ul.top_list
    %li.first_list
      .first_list_box
        %a.top_links{:href => ""} レディース
        %ul.second_lists
          %li.second_list
            .second_list_box
              %a.more_link{:href => ""} トップス
              %ul.third_lists
                %li= link_to 'サンプル', '#', class: 'more_links'
                %li= link_to 'サンプル', '#', class: 'more_links'
                %li= link_to 'サンプル', '#', class: 'more_links'
          %li.second_list
            .second_list_box
              %a.more_link{:href => ""} ジャケット/アウター
              %ul.third_lists
                %li= link_to 'サンプル', '#', class: 'more_links'
                %li= link_to 'サンプル', '#', class: 'more_links'
                %li= link_to 'サンプル', '#', class: 'more_links'
          %li.second_list
            .second_list_box
              %a.more_link{:href => ""} パンツ
              %ul.third_lists
                %li= link_to 'サンプル', '#', class: 'more_links'
                %li= link_to 'サンプル', '#', class: 'more_links'
                %li= link_to 'サンプル', '#', class: 'more_links'
    %li.first_list
      .first_list_box
        %a.top_links{:href => ""} メンズ
        %ul.second_lists
          %li.second_list
            .second_list_box
              %a.more_link{:href => ""} トップス
              %ul.third_lists
                %li= link_to 'サンプル', '#', class: 'more_links'
                %li= link_to 'サンプル', '#', class: 'more_links'
                %li= link_to 'サンプル', '#', class: 'more_links'
          %li.second_list
            .second_list_box
              %a.more_link{:href => ""} ジャケット/アウター
              %ul.third_lists
                %li= link_to 'サンプル', '#', class: 'more_links'
                %li= link_to 'サンプル', '#', class: 'more_links'
                %li= link_to 'サンプル', '#', class: 'more_links'
          %li.second_list
            .second_list_box
              %a.more_link{:href => ""} パンツ
              %ul.third_lists
                %li= link_to 'サンプル', '#', class: 'more_links'
                %li= link_to 'サンプル', '#', class: 'more_links'
                %li= link_to 'サンプル', '#', class: 'more_links'
    %li.first_list
      .first_list_box
        %a.top_links{:href => ""} ベビー・キッズ
        %ul.second_lists
          %li.second_list
            .second_list_box
              %a.more_link{:href => ""} ベビー服
              %ul.third_lists
                %li= link_to 'サンプル', '#', class: 'more_links'
                %li= link_to 'サンプル', '#', class: 'more_links'
                %li= link_to 'サンプル', '#', class: 'more_links'
          %li.second_list
            .second_list_box
              %a.more_link{:href => ""} ベビー服
              %ul.third_lists
                %li= link_to 'サンプル', '#', class: 'more_links'
                %li= link_to 'サンプル', '#', class: 'more_links'
                %li= link_to 'サンプル', '#', class: 'more_links'
          %li.second_list
            .second_list_box
              %a.more_link{:href => ""} ベビー服
              %ul.third_lists
                %li= link_to 'サンプル', '#', class: 'more_links'
                %li= link_to 'サンプル', '#', class: 'more_links'
                %li= link_to 'サンプル', '#', class: 'more_links'
