%header.products_header
  = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?4194600336', height: '49', width: '185', class: 'products_header__img'
.products_buy_container
  %p.products_buy_container__title 購入を確定しますか？
  .products_buy_container__content
    .items
      .items__top
        = image_tag 'UNADJUSTEDNONRAW_thumb_111a.jpg', width: '148', class: 'items__top__img'
        .items__top__title タイトル
        .items__top__price
          %ul.price__list
            %li.price__list__left ¥1,000
            %li.price__list__right 送料込み
        .items__top__point ポイント導入なしなら消す
        .items__top__chack
          %ul.check__list
            %li.check__list__left 支払い金額
            %li.check__list__right ¥1,000
        = button_tag '戻る', class: 'items__top__btm'
      .items__bottom
        .items__bottom__section
          %h3.items__bottom__section__h3 配送先
          %p.items__bottom__section__text 東京都渋谷区〜〜〜〜
          = link_to 'editアクション', class: 'edit_link'
        .items__bottom__section
          %h3.items__bottom__section__h3 支払い方法
          %p.items__bottom__section__text ************0000
          = link_to 'editアクション', class: 'edit_link'
= render 'footer.html.haml'