<%= render 'header' %>
<div class="icon">
  <div class="icon__title">出品</div>
  <i class="fas fa-camera fa-4x icon__camera"></i>
</div>
<div class="swiper-container">
  <div class="swiper-wrapper">
      <div class="swiper-slide">
        <%= image_tag "ed49d3c91eb36c8f59528fe99cfb7c43.jpg", class: 'swiper-slide1' %>
      </div>
      <div class="swiper-slide">
        <%= image_tag "ed49d3c91eb36c8f59528fe99cfb7c43.jpg", class: 'swiper-slide1' %>
      </div>
      <div class="swiper-slide">
        <%= image_tag "ed49d3c91eb36c8f59528fe99cfb7c43.jpg", class: 'swiper-slide1' %>
      </div>
      <div class="swiper-slide">
        <%= image_tag "ed49d3c91eb36c8f59528fe99cfb7c43.jpg", class: 'swiper-slide1' %>
      </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<%= render 'container' %>

<footer class="product_footer">
  <%= image_tag "4707dcfb8a2ec063cff172a0ba8cef4b.jpg", class: 'product_footer__img'%>
</footer>