= render 'shared/header'
- if user_signed_in?
  = link_to new_user_product_path(current_user.id), data: {"turbolinks": false}, class: 'product_link' do
    .floating_btn
      .floating_btn__title 出品
      = icon 'fas', 'camera', class: 'fa-4x floating_btn__camera'
- else 
  = link_to user_session_path, data: {"turbolinks": false}, class: 'product_link' do
    .floating_btn
      .floating_btn__title 出品
      = icon 'fas', 'camera', class: 'fa-4x floating_btn__camera'
.swiper-container
  .swiper-wrapper
    .swiper-slide
      .swiper-slide1
    .swiper-slide
      .swiper-slide2
    .swiper-slide
      .swiper-slide3
    .swiper-slide
      .swiper-slide4
  .swiper-pagination
  .swiper-button-prev
  .swiper-button-next
= render 'container'
= render 'global_footer'
