= render 'header'
= link_to new_product_path, class: 'product_link' do
  .floating_btn
    .floating_btn__title 出品
    = icon 'fas', 'camera', class: 'fa-4x floating_btn__camera'
.swiper-container
  .swiper-wrapper
    .swiper-slide
      = image_tag "ed49d3c91eb36c8f59528fe99cfb7c43.jpg", class: 'swiper-slide1'
    .swiper-slide
      = image_tag "ed49d3c91eb36c8f59528fe99cfb7c43.jpg", class: 'swiper-slide1'
    .swiper-slide
      = image_tag "ed49d3c91eb36c8f59528fe99cfb7c43.jpg", class: 'swiper-slide1'
    .swiper-slide
      = image_tag "ed49d3c91eb36c8f59528fe99cfb7c43.jpg", class: 'swiper-slide1'
  .swiper-pagination
  .swiper-button-prev
  .swiper-button-next
= render 'container'
%footer.product_footer
  = image_tag "4707dcfb8a2ec063cff172a0ba8cef4b.jpg", class: 'product_footer__img'
