%header.products_header
  = image_tag 'logo.svg', height: '49', width: '185', class: 'products_header__img'
.pay_after_container
  .pay_after_container__content
    %h2.pay_after_container__content__h2 商品の購入が完了しました
  .pay_after_container__content
    = link_to root_path do
      = button_tag '取引画面へ進む', class: 'pay_after_container__content__btn'
    = link_to root_path do
      = button_tag 'トップページへ戻る', class: 'pay_after_container__content__btn'
= render 'shared/footer'
